# vagrant
/.vagrant

# dist files
/src/app/config/parameters.yml
/src/app/config/security.yml

# composer
/vendor/*

# abt
/etc/*
!/etc/common
!/etc/puppet

# sass
.sass-cache

# symfony2 (@see https://github.com/github/gitignore/blob/master/Symfony2.gitignore)
# -- Bootstrap
/src/app/bootstrap*

# -- Symfony directories
/src/vendor/*
/src/*/logs/*
/src/*/cache/*
/src/web/uploads/*
/src/web/bundles/*

# Sass
/.sass-cache
compiled/*.css

# ide
*.sw*
*.orig
