@import "mixin";
@import "typography";
@import "colors";

.nav {
  background-color: $color-black;
  color: $color-grey;
  font-family: $regular;
  font-size: $font-small;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;

  img,
  ul {
    display: inline-block;
    vertical-align: middle;
  }

  aside {
    float: left;
    margin-left: 10px;
    min-width: 10%;
    }
}

.nav nav {
  float: right;
  margin-right: 10px;
  max-width: 90%;
  li {
    display: inline;
    margin: 0 5px;
    &.selected a{ color: $color-selected; }
    a { color: $color-blue; }
    a:hover { color: $color-selected; border-bottom:1px solid $color-blue;}
 }
}

.intro {
  padding: 0 10px;
  img {
    height: auto;
    max-width: 100%;
  }
  aside {
    border: 1px solid transparent;
    text-align: center;
  }
}


// Headroom.js

section.nav, #contact {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}

.slideOutUp {
  -webkit-animation-duration: 1s;
    @include vendor-prefix(hyphens, auto)

}

.slideInDown {
  -webkit-animation-duration: 250ms;
    @include vendor-prefix(hyphens, auto)
}