@mixin bg-blue {
  background-image: url('../img/pattern-blue.png');
  background-repeat: repeat;
}

@mixin bg-grey {
  background-image: url('../img/pattern-grey.png');
  background-repeat: repeat;
}

@mixin bg-black {
  background-image: url('../img/pattern-black.png');
  background-repeat: repeat;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}