@import "mixin";
@import "typography";
@import "colors";

.mosaic,
.projet {
  margin: 0 auto;
  padding: 70px 0 53px;
}

.mosaic {
  hr {
    clear: both;
    visibility: hidden;
}
  article { margin-bottom: 17px; }
}

.projet hr {

border: 0;
line-height: 1;
border-bottom: 2px solid #191919;
width: 18px;

}

.projet {
  font-family: $regular;
  text-align: center;
  h1 {
    color: $color-black;
    font-size: em(32px);
    margin: 70px 0 25px;
    text-transform: capitalize;
    + p {
      color: $color-grey-2;
      font-size: em(16px);
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 940px;
  }
 }
}

.projet nav {
  li {
    display: inline;
    opacity: .6;
    padding: 0 10px;
    &:hover { opacity: 1; }
 }
}

.projet ul {
    margin: 20px;
    color: $color-grey-2;
    font-size: $font-small;
}

.capture img {
  height: auto;
  max-width: 100%;
  padding: 20px 0;
  &:first-child { margin-top: 80px; }
}
.projet a {
        color: $color-black;
        text-decoration: none;
        &:hover { text-decoration: underline; }
   }

// CAPTiON HOVER
   .caption-style-4{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
  }

  .caption-style-4 article{
    padding: 0px;
    position: relative;
    overflow: hidden;
  }

  .caption-style-4 article:hover .caption{
    opacity: 1;
  }

  .caption-style-4 article:hover img{
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform:scale(1.15,1.15);
    -moz-transform:scale(1.15,1.15);
    -ms-transform:scale(1.15,1.15);
    -o-transform:scale(1.15,1.15);
  }


  .caption-style-4 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
  }


  .caption-style-4 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
  }

  .caption-style-4 img{
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    -ms-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
  }
  .caption-style-4 .blur{
    background-color: rgba(0,0,0,0.65);

    z-index: 5;
    position: absolute;
  }

  .caption-style-4 .caption-text h1{
    font-size: 22px;
    font-family: 'Regular', sans-serif;
  }
    .caption-style-4 .caption-text h2{
    font-size: 14px;
    font-family: 'Regular', sans-serif;

  }
  .caption-style-4 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;

    text-align: center;
  }

@media all and (min-width:1060px) {
  .caption-style-4 .caption-text,.caption-style-4 .blur  { height: 338px; width: 510px; }
}

@media all and (max-width:1060px) {
  .caption-style-4 .caption-text,.caption-style-4 .blur  { height: 338px; width: 510px; }
}

@media all and (max-width:510px) {
  .caption-style-4 .caption-text,.caption-style-4 .blur   { height: 198px; width: 300px; }
}

