@import "compass/reset";
@import "typography";
@import "header";
@import "contact";
@import "portfolio";
@import "footer";
@import "colors";

body { @include bg-grey;}

a { text-decoration: none; }

@media all and (min-width:1060px) {
  header section,section .test, .mosaic,#projets, footer section, .intro+aside { margin: auto; width: 1060px; }
  .equal, #contact span{ margin: auto; width: 940px;}
  #contact address { display: none; }
  .intro img { position: absolute;top: 50%;left: 50%;width: 639px;height: 356px;margin-top: -169px;margin-left: -319.5px; }
  .mosaic img { height: 338px; width: 510px; }
  .mosaic article:nth-child(odd) { margin-right: 20px; margin-left: 10px; text-align: left; }
  .mosaic article:nth-child(even) { margin-right: 10px; text-align: right; }
  .mosaic article {display: block; float: left;}
  figure.overlay img {width: 510px;}

}

@media all and (max-width:1060px) {
  header section,.mosaic,#projets,footer section { margin: auto; max-width: 1060px; }
  .mosaic article { padding: 0; text-align: center; width: 100%;  }
  #contact address { display: none; }
  .intro img { position: absolute;top: 50%;left: 50%;width: 639px;height: 356px;margin-top: -169px;margin-left: -319.5px; }
  .mosaic img { height: 338px; max-width: 510px; }
  figure.overlay img {width: 510px;}

}

@media all and (max-width:510px) {
  header section, .mosaic,  #projets, footer section { margin: auto; max-width: 510px; }
  section .intro { display: none; }
  #contact div { display: none; }
  #contact address { display: inline; position: relative;float:left;top:13px; }
  #contact { height: 60px;padding: 10px; }
  #contact span { height: 40px;float:right;}
  header ul { clear: both; float: left; width: 100%; }
  .mosaic article { padding: 0 10px; text-align: center; width: 100%;}
  .mosaic img { height: 198px; width: 300px; }
  figure.overlay img {width: 300px;}
}

  header {background: url(../img/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-position: top 200px;}

  /* Theme Captionss */
  figure.embed.huertas figcaption,
  figure.embed-top.huertas figcaption,
  figure.overlay.huertas figcaption,
  figure.embed-over.huertas figcaption,
  figure.huertas figcaption {
  color: rgba(245,245,245,1.0);
  background: rgba(0,0,0,0.8);
}

figcaption {
  font-family: 'Regular', sans-serif;
  text-align: center;

  h1 {font-size:1.4rem;margin-bottom: 27px;}
  h2 {font-style:0.9rem;margin-top: 30px;}
}

.details {
  @include vertical-align;
  hr {
border-top-width: 0px;
border-color: #fff;
border-style: solid;
width:26px;
visibility: visible;}
}

section.nav {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}
