@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 6, assetic_compassczmEos.scss */
.mosaic,
.projet {
  margin: 0 auto;
  padding: 70px 0 53px;
}

/* line 12, assetic_compassczmEos.scss */
.mosaic hr {
  clear: both;
  visibility: hidden;
}
/* line 16, assetic_compassczmEos.scss */
.mosaic article {
  margin-bottom: 17px;
}

/* line 19, assetic_compassczmEos.scss */
.projet hr {
  border: 0;
  line-height: 1;
  border-bottom: 2px solid #191919;
  width: 18px;
}

/* line 28, assetic_compassczmEos.scss */
.projet {
  font-family: "Regular", sans-serif;
  text-align: center;
}
/* line 31, assetic_compassczmEos.scss */
.projet h1 {
  color: #191919;
  font-size: 2em;
  margin: 70px 0 25px;
  text-transform: capitalize;
}
/* line 36, assetic_compassczmEos.scss */
.projet h1 + p {
  color: #656565;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 940px;
}

/* line 47, assetic_compassczmEos.scss */
.projet nav li {
  display: inline;
  opacity: .6;
  padding: 0 10px;
}
/* line 51, assetic_compassczmEos.scss */
.projet nav li:hover {
  opacity: 1;
}

/* line 55, assetic_compassczmEos.scss */
.projet ul {
  margin: 20px;
  color: #656565;
  font-size: 0.75em;
}

/* line 61, assetic_compassczmEos.scss */
.capture img {
  height: auto;
  max-width: 100%;
  padding: 20px 0;
}
/* line 65, assetic_compassczmEos.scss */
.capture img:first-child {
  margin-top: 80px;
}

/* line 67, assetic_compassczmEos.scss */
.projet a {
  color: #191919;
  text-decoration: none;
}
/* line 70, assetic_compassczmEos.scss */
.projet a:hover {
  text-decoration: underline;
}
