@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 5, assetic_compasslp0dbK.scss */
#contact {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-black.png");
  background-repeat: repeat;
  color: #e5e5e5;
  font-family: "Regular", sans-serif;
  padding: 0 10px;
}

/* line 12, assetic_compasslp0dbK.scss */
#contact span {
  display: block;
  height: 80px;
  text-align: right;
}
/* line 16, assetic_compasslp0dbK.scss */
#contact span img {
  height: 22px;
  position: relative;
  top: 50%;
  width: 22px;
}
/* line 22, assetic_compasslp0dbK.scss */
#contact span a {
  opacity: .4;
}
/* line 23, assetic_compasslp0dbK.scss */
#contact span a:hover {
  opacity: 1;
}

/* line 29, assetic_compasslp0dbK.scss */
#contact h1,
#contact h2 {
  color: white;
  font-size: 1.4375em;
  padding: 20px 0 0;
  text-transform: capitalize;
}
/* line 35, assetic_compasslp0dbK.scss */
#contact hr {
  border: 0;
  border-bottom: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  line-height: 1px;
  margin: 20px 0;
  width: 18px;
}
/* line 44, assetic_compasslp0dbK.scss */
#contact p {
  font-size: 0.75em;
  line-height: 16px;
  margin-bottom: 20px;
  max-width: 90%;
}
/* line 50, assetic_compasslp0dbK.scss */
#contact li {
  font-size: 0.75em;
  line-height: 16px;
}

/* line 56, assetic_compasslp0dbK.scss */
#contact a {
  color: #c0f5fb;
}
/* line 58, assetic_compasslp0dbK.scss */
#contact a:hover {
  text-decoration: underline;
}

/* line 61, assetic_compasslp0dbK.scss */
.equal {
  display: table;
}

/* line 62, assetic_compasslp0dbK.scss */
.row {
  display: table-row;
}

/* line 63, assetic_compasslp0dbK.scss */
.row article {
  display: table-cell;
  padding: 0 0 80px;
}
