@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}
