
@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 5, assetic_compassLhMnR4.scss */
#contact {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-black.png");
  background-repeat: repeat;
  color: #e5e5e5;
  font-family: "Regular", sans-serif;
  padding: 0 10px;
}

/* line 12, assetic_compassLhMnR4.scss */
#contact span {
  display: block;
  height: 80px;
  text-align: right;
}
/* line 16, assetic_compassLhMnR4.scss */
#contact span img {
  height: 22px;
  position: relative;
  top: 50%;
  width: 22px;
}
/* line 22, assetic_compassLhMnR4.scss */
#contact span a {
  opacity: .4;
}
/* line 23, assetic_compassLhMnR4.scss */
#contact span a:hover {
  opacity: 1;
}

/* line 29, assetic_compassLhMnR4.scss */
#contact h1,
#contact h2 {
  color: white;
  font-size: 1.4375em;
  padding: 20px 0 0;
  text-transform: capitalize;
}
/* line 35, assetic_compassLhMnR4.scss */
#contact hr {
  border: 0;
  border-bottom: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  line-height: 1px;
  margin: 20px 0;
  width: 18px;
}
/* line 44, assetic_compassLhMnR4.scss */
#contact p {
  font-size: 0.75em;
  line-height: 16px;
  margin-bottom: 20px;
  max-width: 90%;
}
/* line 50, assetic_compassLhMnR4.scss */
#contact li {
  font-size: 0.75em;
  line-height: 16px;
}

/* line 56, assetic_compassLhMnR4.scss */
#contact a {
  color: #c0f5fb;
}
/* line 58, assetic_compassLhMnR4.scss */
#contact a:hover {
  text-decoration: underline;
}

/* line 61, assetic_compassLhMnR4.scss */
.equal {
  display: table;
}

/* line 62, assetic_compassLhMnR4.scss */
.row {
  display: table-row;
}

/* line 63, assetic_compassLhMnR4.scss */
.row article {
  display: table-cell;
  padding: 0 0 80px;
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 5, assetic_compass77BiDx.scss */
footer {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-blue.png");
  background-repeat: repeat;
  bottom: 0;
  color: #7f7f7f;
  font-family: "Regular", sans-serif;
  height: 140px;
  line-height: 140px;
  text-align: center;
  width: 100%;
}
/* line 14, assetic_compass77BiDx.scss */
footer section {
  display: inline-block;
  line-height: 1.1;
  vertical-align: middle;
}

/* line 21, assetic_compass77BiDx.scss */
footer ul {
  display: inline;
  vertical-align: middle;
}
/* line 24, assetic_compass77BiDx.scss */
footer ul li {
  font-size: 0.75em;
  list-style: none;
  padding: 6px;
}
/* line 29, assetic_compass77BiDx.scss */
footer ul a {
  color: #7f7f7f;
}
/* line 30, assetic_compass77BiDx.scss */
footer ul a:hover {
  color: #323232;
}

/* line 34, assetic_compass77BiDx.scss */
footer ul:nth-child(2) li {
  display: inline;
  margin: 10px 0;
  opacity: .6;
  padding: 15px;
}
/* line 39, assetic_compass77BiDx.scss */
footer ul:nth-child(2) li:hover {
  opacity: 1;
}

/* line 43, assetic_compass77BiDx.scss */
address {
  margin-bottom: 20px;
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 5, assetic_compassmD51K1.scss */
header {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-blue.png");
  background-repeat: repeat;
  color: #b2b2b2;
  font-family: "Regular", sans-serif;
  font-size: 0.75em;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
/* line 15, assetic_compassmD51K1.scss */
header img,
header ul {
  display: inline-block;
  vertical-align: middle;
}
/* line 20, assetic_compassmD51K1.scss */
header aside {
  float: left;
  margin-left: 10px;
  min-width: 10%;
}

/* line 27, assetic_compassmD51K1.scss */
header nav {
  float: right;
  margin-right: 10px;
  max-width: 90%;
}
/* line 31, assetic_compassmD51K1.scss */
header nav li {
  display: inline;
  margin: 0 5px;
}
/* line 34, assetic_compassmD51K1.scss */
header nav li.selected a {
  color: #323232;
}
/* line 35, assetic_compassmD51K1.scss */
header nav li a {
  color: #7f7f7f;
}
/* line 36, assetic_compassmD51K1.scss */
header nav li a:hover {
  color: #323232;
}

/* line 40, assetic_compassmD51K1.scss */
.intro {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-blue.png");
  background-repeat: repeat;
  padding: 0 10px;
}
/* line 43, assetic_compassmD51K1.scss */
.intro img {
  height: auto;
  max-width: 100%;
}
/* line 47, assetic_compassmD51K1.scss */
.intro aside {
  border: 1px solid transparent;
  text-align: center;
}

/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 6, assetic_compasskjsngC.scss */
.mosaic,
.projet {
  margin: 0 auto;
  padding: 70px 0 53px;
}

/* line 12, assetic_compasskjsngC.scss */
.mosaic hr {
  clear: both;
  visibility: hidden;
}
/* line 16, assetic_compasskjsngC.scss */
.mosaic article {
  margin-bottom: 17px;
}

/* line 19, assetic_compasskjsngC.scss */
.projet hr {
  border: 0;
  line-height: 1;
  border-bottom: 2px solid #191919;
  width: 18px;
}

/* line 28, assetic_compasskjsngC.scss */
.projet {
  font-family: "Regular", sans-serif;
  text-align: center;
}
/* line 31, assetic_compasskjsngC.scss */
.projet h1 {
  color: #191919;
  font-size: 2em;
  margin: 70px 0 25px;
  text-transform: capitalize;
}
/* line 36, assetic_compasskjsngC.scss */
.projet h1 + p {
  color: #656565;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 940px;
}

/* line 47, assetic_compasskjsngC.scss */
.projet nav li {
  display: inline;
  opacity: .6;
  padding: 0 10px;
}
/* line 51, assetic_compasskjsngC.scss */
.projet nav li:hover {
  opacity: 1;
}

/* line 55, assetic_compasskjsngC.scss */
.projet ul {
  margin: 20px;
  color: #656565;
  font-size: 0.75em;
}

/* line 61, assetic_compasskjsngC.scss */
.capture img {
  height: auto;
  max-width: 100%;
  padding: 20px 0;
}
/* line 65, assetic_compasskjsngC.scss */
.capture img:first-child {
  margin-top: 80px;
}

/* line 67, assetic_compasskjsngC.scss */
.projet a {
  color: #191919;
  text-decoration: none;
}
/* line 70, assetic_compasskjsngC.scss */
.projet a:hover {
  text-decoration: underline;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

/* line 17, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../var/lib/gems/1.9.1/gems/compass-0.12.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 5, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-blue.png");
  background-repeat: repeat;
  color: #b2b2b2;
  font-family: "Regular", sans-serif;
  font-size: 0.75em;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
}
/* line 15, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header img,
header ul {
  display: inline-block;
  vertical-align: middle;
}
/* line 20, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header aside {
  float: left;
  margin-left: 10px;
  min-width: 10%;
}

/* line 27, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header nav {
  float: right;
  margin-right: 10px;
  max-width: 90%;
}
/* line 31, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header nav li {
  display: inline;
  margin: 0 5px;
}
/* line 34, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header nav li.selected a {
  color: #323232;
}
/* line 35, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header nav li a {
  color: #7f7f7f;
}
/* line 36, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
header nav li a:hover {
  color: #323232;
}

/* line 40, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
.intro {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-blue.png");
  background-repeat: repeat;
  padding: 0 10px;
}
/* line 43, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
.intro img {
  height: auto;
  max-width: 100%;
}
/* line 47, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/header.scss */
.intro aside {
  border: 1px solid transparent;
  text-align: center;
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 5, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-black.png");
  background-repeat: repeat;
  color: #e5e5e5;
  font-family: "Regular", sans-serif;
  padding: 0 10px;
}

/* line 12, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact span {
  display: block;
  height: 80px;
  text-align: right;
}
/* line 16, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact span img {
  height: 22px;
  position: relative;
  top: 50%;
  width: 22px;
}
/* line 22, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact span a {
  opacity: .4;
}
/* line 23, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact span a:hover {
  opacity: 1;
}

/* line 29, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact h1,
#contact h2 {
  color: white;
  font-size: 1.4375em;
  padding: 20px 0 0;
  text-transform: capitalize;
}
/* line 35, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact hr {
  border: 0;
  border-bottom: 1px;
  border-color: #e5e5e5;
  border-style: solid;
  line-height: 1px;
  margin: 20px 0;
  width: 18px;
}
/* line 44, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact p {
  font-size: 0.75em;
  line-height: 16px;
  margin-bottom: 20px;
  max-width: 90%;
}
/* line 50, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact li {
  font-size: 0.75em;
  line-height: 16px;
}

/* line 56, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact a {
  color: #c0f5fb;
}
/* line 58, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
#contact a:hover {
  text-decoration: underline;
}

/* line 61, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
.equal {
  display: table;
}

/* line 62, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
.row {
  display: table-row;
}

/* line 63, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/contact.scss */
.row article {
  display: table-cell;
  padding: 0 0 80px;
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 6, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.mosaic,
.projet {
  margin: 0 auto;
  padding: 70px 0 53px;
}

/* line 12, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.mosaic hr {
  clear: both;
  visibility: hidden;
}
/* line 16, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.mosaic article {
  margin-bottom: 17px;
}

/* line 19, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet hr {
  border: 0;
  line-height: 1;
  border-bottom: 2px solid #191919;
  width: 18px;
}

/* line 28, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet {
  font-family: "Regular", sans-serif;
  text-align: center;
}
/* line 31, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet h1 {
  color: #191919;
  font-size: 2em;
  margin: 70px 0 25px;
  text-transform: capitalize;
}
/* line 36, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet h1 + p {
  color: #656565;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 940px;
}

/* line 47, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet nav li {
  display: inline;
  opacity: .6;
  padding: 0 10px;
}
/* line 51, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet nav li:hover {
  opacity: 1;
}

/* line 55, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet ul {
  margin: 20px;
  color: #656565;
  font-size: 0.75em;
}

/* line 61, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.capture img {
  height: auto;
  max-width: 100%;
  padding: 20px 0;
}
/* line 65, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.capture img:first-child {
  margin-top: 80px;
}

/* line 67, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet a {
  color: #191919;
  text-decoration: none;
}
/* line 70, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/portfolio.scss */
.projet a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}

/* line 5, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-blue.png");
  background-repeat: repeat;
  bottom: 0;
  color: #7f7f7f;
  font-family: "Regular", sans-serif;
  height: 140px;
  line-height: 140px;
  text-align: center;
  width: 100%;
}
/* line 14, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer section {
  display: inline-block;
  line-height: 1.1;
  vertical-align: middle;
}

/* line 21, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer ul {
  display: inline;
  vertical-align: middle;
}
/* line 24, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer ul li {
  font-size: 0.75em;
  list-style: none;
  padding: 6px;
}
/* line 29, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer ul a {
  color: #7f7f7f;
}
/* line 30, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer ul a:hover {
  color: #323232;
}

/* line 34, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer ul:nth-child(2) li {
  display: inline;
  margin: 10px 0;
  opacity: .6;
  padding: 15px;
}
/* line 39, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
footer ul:nth-child(2) li:hover {
  opacity: 1;
}

/* line 43, ../home/johan/dev/sources/com.thibaulthuertas.www/src/web/bundles/constructionsincongruescomthibaulthuertaswww/sass/footer.scss */
address {
  margin-bottom: 20px;
}

/* line 9, assetic_compassrOZdOM.scss */
body {
  background-image: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/img/pattern-grey.png");
  background-repeat: repeat;
}

/* line 11, assetic_compassrOZdOM.scss */
a {
  text-decoration: none;
}

@media all and (min-width: 1060px) {
  /* line 14, assetic_compassrOZdOM.scss */
  header section, .mosaic, #projets, footer section, .intro + aside {
    margin: auto;
    width: 1060px;
  }

  /* line 15, assetic_compassrOZdOM.scss */
  .equal, #contact span {
    margin: auto;
    width: 940px;
  }

  /* line 16, assetic_compassrOZdOM.scss */
  #contact address {
    display: none;
  }

  /* line 18, assetic_compassrOZdOM.scss */
  .intro img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 639px;
    height: 356px;
    margin-top: -229px;
    margin-left: -319.5px;
  }

  /* line 25, assetic_compassrOZdOM.scss */
  .mosaic img {
    height: 338px;
    width: 510px;
  }

  /* line 26, assetic_compassrOZdOM.scss */
  .mosaic article:nth-child(odd) {
    margin-right: 20px;
    margin-left: 10px;
    text-align: left;
  }

  /* line 27, assetic_compassrOZdOM.scss */
  .mosaic article:nth-child(even) {
    margin-right: 10px;
    text-align: right;
  }

  /* line 28, assetic_compassrOZdOM.scss */
  .mosaic article {
    display: block;
    float: left;
  }

  /* line 29, assetic_compassrOZdOM.scss */
  figure.overlay img {
    width: 510px;
  }
}
@media all and (max-width: 1060px) {
  /* line 34, assetic_compassrOZdOM.scss */
  header section, .mosaic, #projets, footer section {
    margin: auto;
    max-width: 1060px;
  }

  /* line 35, assetic_compassrOZdOM.scss */
  .mosaic article {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  /* line 36, assetic_compassrOZdOM.scss */
  #contact address {
    display: none;
  }

  /* line 37, assetic_compassrOZdOM.scss */
  .intro img {
    height: auto;
    max-width: 100%;
  }

  /* line 38, assetic_compassrOZdOM.scss */
  .mosaic img {
    height: 338px;
    max-width: 510px;
  }

  /* line 39, assetic_compassrOZdOM.scss */
  figure.overlay img {
    width: 510px;
  }
}
@media all and (max-width: 510px) {
  /* line 44, assetic_compassrOZdOM.scss */
  header section, .mosaic, #projets, footer section {
    margin: auto;
    max-width: 510px;
  }

  /* line 45, assetic_compassrOZdOM.scss */
  .intro {
    display: none;
  }

  /* line 46, assetic_compassrOZdOM.scss */
  #contact div {
    display: none;
  }

  /* line 47, assetic_compassrOZdOM.scss */
  #contact address {
    display: inline;
    position: relative;
    float: left;
    top: 13px;
  }

  /* line 48, assetic_compassrOZdOM.scss */
  #contact {
    height: 60px;
    padding: 10px;
  }

  /* line 49, assetic_compassrOZdOM.scss */
  #contact span {
    height: 40px;
    float: right;
  }

  /* line 50, assetic_compassrOZdOM.scss */
  header ul {
    clear: both;
    float: left;
    width: 100%;
  }

  /* line 51, assetic_compassrOZdOM.scss */
  .mosaic article {
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }

  /* line 52, assetic_compassrOZdOM.scss */
  .mosaic img {
    height: 198px;
    width: 300px;
  }

  /* line 53, assetic_compassrOZdOM.scss */
  figure.overlay img {
    width: 300px;
  }
}
/* huertas theme */
/* line 61, assetic_compassrOZdOM.scss */
figure.embed.huertas figcaption,
figure.embed-top.huertas figcaption,
figure.overlay.huertas figcaption,
figure.embed-over.huertas figcaption,
figure.huertas figcaption {
  color: whitesmoke;
  background: rgba(50, 50, 50, 0.7);
}

/* line 66, assetic_compassrOZdOM.scss */
figcaption {
  font-family: 'Regular', sans-serif;
  text-align: center;
}
/* line 70, assetic_compassrOZdOM.scss */
figcaption h1 {
  font-size: 1.4rem;
}
/* line 71, assetic_compassrOZdOM.scss */
figcaption h2 {
  font-style: 0.9rem;
}

/* line 74, assetic_compassrOZdOM.scss */
.details {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 76, assetic_compassrOZdOM.scss */
.details hr {
  border: 0;
  border-bottom: 1px;
  border-color: #fff;
  border-style: solid;
  line-height: 1px;
  width: 26px;
  width: 18px;
  visibility: visible;
}

/* line 85, assetic_compassrOZdOM.scss */
header {
  background: url(http://www.gratuit-en-ligne.com/telecharger-gratuit-en-ligne/telecharger-image-wallpaper-gratuit/image-wallpaper-animaux/img/images/image-wallpaper-animaux-chatons.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Regular';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_lt-webfont.ttf");
}

@font-face {
  font-family: 'Regularita';
  src: url("../../../../bundles/constructionsincongruescomthibaulthuertaswww/font/aller_ltit-webfont.ttf");
}
