@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

#contact {
  background-image: url(../img/pattern-black.png);
  background-repeat: repeat;
  color: #e5e5e5;
  font-family: "Regular", sans-serif;
  padding: 0 10px; }

#contact span {
  display: block;
  height: 80px;
  text-align: right; }
  #contact span img {
    height: 22px;
    position: relative;
    top: 50%;
    width: 22px; }
  #contact span a {
    opacity: .4; }
    #contact span a:hover {
      opacity: 1; }

#contact h1,
#contact h2 {
  color: white;
  font-size: 1.4375em;
  padding: 20px 0 0;
  text-transform: capitalize; }
#contact hr {
  border: 0 0 2px 0;
  border-color: #e5e5e5;
  border-style: solid;
  line-height: 2px;
  margin: 20px 0;
  width: 18px; }
#contact p {
  font-size: 0.75em;
  line-height: 16px;
  margin-bottom: 20px;
  max-width: 90%; }
#contact li {
  font-size: 0.75em;
  line-height: 16px; }

#contact a {
  color: #c0f5fb; }
  #contact a:hover {
    text-decoration: underline; }

.equal {
  display: table; }

.row {
  display: table-row; }

.row article {
  display: table-cell;
  padding: 0 0 80px; }
