@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

footer {
  background-image: url(../img/pattern-blue.png);
  background-repeat: repeat;
  bottom: 0;
  color: #7f7f7f;
  font-family: "Regular", sans-serif;
  height: 140px;
  line-height: 140px;
  text-align: center;
  width: 100%; }
  footer section {
    display: inline-block;
    line-height: 1.1;
    vertical-align: middle; }

footer ul {
  display: inline;
  vertical-align: middle; }
  footer ul li {
    font-size: 0.75em;
    list-style: none;
    padding: 6px; }
  footer ul a {
    color: #7f7f7f; }
  footer ul a:hover {
    color: #323232; }

footer ul:nth-child(2) li {
  display: inline;
  margin: 10px 0;
  opacity: .6;
  padding: 15px; }
  footer ul:nth-child(2) li:hover {
    opacity: 1; }

address {
  margin-bottom: 20px; }
