@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

header {
  background-image: url(../img/pattern-blue.png);
  background-repeat: repeat;
  color: #b2b2b2;
  font-family: "Regular", sans-serif;
  font-size: 0.75em;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase; }
  header img,
  header ul {
    display: inline-block;
    vertical-align: middle; }
  header aside {
    float: left;
    margin-left: 10px;
    min-width: 10%; }

header nav {
  float: right;
  margin-right: 10px;
  max-width: 90%; }
  header nav li {
    display: inline;
    margin: 0 5px; }
    header nav li.selected a {
      color: #323232; }
    header nav li a {
      color: #7f7f7f; }
    header nav li a:hover {
      color: #323232; }

.intro {
  background-image: url(../img/pattern-blue.png);
  background-repeat: repeat;
  padding: 0 10px; }
  .intro img {
    height: auto;
    max-width: 100%; }
  .intro aside {
    border: 1px solid transparent;
    text-align: center; }
