@font-face {
  font-family: 'Regular';
  src: url("../font/aller_lt-webfont.ttf"); }

@font-face {
  font-family: 'Regularita';
  src: url("../font/aller_ltit-webfont.ttf"); }

.mosaic,
.projet {
  margin: 0 auto;
  padding: 70px 0 53px; }

.mosaic hr {
  clear: both;
  visibility: hidden; }
.mosaic article {
  margin-bottom: 17px; }

.projet hr {
  border: 0 0 2px 0;
  border-color: #191919;
  border-style: solid;
  line-height: 1px;
  width: 18px; }

.projet {
  font-family: "Regular", sans-serif;
  text-align: center; }
  .projet h1 {
    color: #191919;
    font-size: 2em;
    margin: 70px 0 25px;
    text-transform: capitalize; }
    .projet h1 + p {
      color: #656565;
      font-size: 1em;
      margin: 0 auto;
      margin-bottom: 50px;
      max-width: 940px; }

.projet nav li {
  display: inline;
  opacity: .6;
  padding: 0 10px; }
  .projet nav li:hover {
    opacity: 1; }

.projet ul {
  margin: 20px; }
  .projet ul li {
    color: #656565;
    font-size: 0.75em; }
    .projet ul li a {
      color: #191919;
      text-decoration: none; }
      .projet ul li a:hover {
        text-decoration: underline; }

.capture img {
  height: auto;
  max-width: 100%;
  padding: 20px 0; }
  .capture img:first-child {
    margin-top: 80px; }
